<section>
    <header>
        <h2>Hire Me For</h2>
    </header>
    <div class="content">
        <p>You can directly book a session to <strong>learn watercolors/acrylics</strong>. These personalised sessions are priced at 45$ for 55 mins.</p>
        <ul class="actions">
          <li><a href="https://calendly.com/chhavi-io/55min" class="button primary">Book A Session</a></li>
        </ul>

        <p>Or, contact me for <strong>commissioned artworks</strong>.
          <ul class="actions">
            <li><a href="mailto:chhavi.111@gmail.com" class="button  primary">Send An Enquiry</a></li>
          </ul>

    </div>
</section>
