<section>
    <header>
        <h2>Book A Session</h2>
    </header>
    <div class="content">
        <p>You can contact me for <strong>commissioned art works</strong> or taking design classes. I charge 45$ for a 55 mins session.</p>
        <ul class="actions">
          <li><a href="https://calendly.com/chhavi-io/55min" class="button primary large">Book A Session</a></li>
          <li><a href="mailto:chhavi.111@gmail.com" class="button large">Email Me</a></li>
        </ul>
    </div>
</section>
