<section>
    <header>
        <h2>Hire Me For</h2>
    </header>
    <div class="content">
        <p>You can directly book a session to <strong>learn how to paint</strong> with watercolors or to simply use <strong>art as a therapeutic medium </strong> to express your true self. These personalised sessions are priced at $30 per hour.</p>
        <ul class="actions">
          <li><a href="https://calendly.com/chhavi-io/art" class="button primary">Book A Session</a></li>
        </ul>

        <p>Or, contact me if you're interested in <strong> buying any artwork</strong>.
          <ul class="actions">
            <li><a href="mailto:chhavi.111@gmail.com" class="button  primary">Send An Enquiry</a></li>
          </ul>

    </div>
</section>
