<section>
  <header>
    <h2>Gallery</h2>
  </header>
  <div class="content artwork">
    <p>Here are some of my <strong>artworks</strong>.</p>
  </div>
</section>

<!-- Section -->
<section style="margin-top:-20px;">
  <header>
    <h3>Watercolor Paintings</h3>
    <!-- <p>Vehicula ultrices dolor amet ultricies et condimentum. Magna sed etiam consequat, et lorem adipiscing sed dolor sit amet, consectetur amet do eiusmod tempor incididunt  ipsum suspendisse ultrices gravida.</p> -->
  </header>
  <div class="content">
    <div id="gallery-container" class="gallery">
      <!-- <a href="{{root}}assets/images/watercolor/20210621_160237-01.jpeg">
                        <img alt="" src="{{root}}assets/images/watercolor/20210621_160237-01.jpeg" />
                        </a> -->
      <a href="{{root}}assets/images/watercolor/20210624_154250-03.jpeg">
        <img alt="" src="{{root}}assets/images/watercolor/20210624_154250-03.jpeg" />
      </a>
      <a href="{{root}}assets/images/watercolor/20210701_020251-02.jpeg">
        <img alt="" src="{{root}}assets/images/watercolor/20210701_020251-02.jpeg" />
      </a>
      <a href="{{root}}assets/images/watercolor/20210613_161344-02.jpeg" class="landscape">
        <img alt="" src="{{root}}assets/images/watercolor/20210613_161344-02.jpeg" />
      </a>
      <a href="{{root}}assets/images/watercolor/20210621_160237-01.jpeg">
        <img alt="" src="{{root}}assets/images/watercolor/20210621_160237-01.jpeg" />
      </a>
      <a href="{{root}}assets/images/watercolor/20210615_104029-03.jpeg">
        <img alt="" src="{{root}}assets/images/watercolor/20210615_104029-03.jpeg" />
      </a>
    </div>
  </div>
</section>

<!-- Section -->
<section>
  <header>
    <h3>Acrylic Paintings</h3>
    <!-- <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam sed facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet mauris. Ut magna finibus nisi nec lacinia ipsum maximus.</p> -->
  </header>
  <div class="content">
    <div id="gallery-container2" class="gallery">
      <a href="{{root}}assets/images/acrylic/20210417_221052-01.jpeg"><img alt=""
          src="{{root}}assets/images/acrylic/20210417_221052-01.jpeg" /></a>
      <a href="{{root}}assets/images/acrylic/20210223_112823-01.jpeg"><img alt=""
          src="{{root}}assets/images/acrylic/20210223_112823-01.jpeg" /></a>
      <a href="{{root}}assets/images/acrylic/20210223_181002-01.jpeg"><img alt=""
          src="{{root}}assets/images/acrylic/20210223_181002-01.jpeg" /></a>
      <a href="{{root}}assets/images/acrylic/20210417_230231-01.jpeg"><img alt=""
          src="{{root}}assets/images/acrylic/20210417_230231-01.jpeg" /></a>
    </div>
  </div>
</section>

<!-- Section -->

{{>quickies_preview}}