<section class="intro">
  <header>
    <h1>Chhavi Agrawal</h1>
    <!-- <p>Artist&nbsp;&nbsp;|&nbsp;&nbsp;Storyteller&nbsp;&nbsp;|&nbsp;&nbsp;Facilitator <br /> -->
    <p>Artist&nbsp;&nbsp;|&nbsp;&nbsp;Facilitator <br />
      <span style="font-size:20px">
        <a href="https://instagram.com/art.by.chhavi" target="_blank" class="icon fa-instagram"></a> /
        <a href="https://fb.me/chhavi.artelier" target="_blank" class="icon fa-facebook"></a> /
        <a href="https://linkedin.com/in/chhavi-io" target="_blank" class="icon fa-linkedin"></a> /
        <a href="https://chhavi111.medium.com/" target="_blank" class="icon fa-medium"></a>
      </span>
    </p>
    <ul class="actions">
      <li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
    </ul>
  </header>
  <div class="content">
    <span class="image fill" data-position="center"><img src="{{root}}assets/images/pic01.jpg" alt="" /></span>
  </div>
</section>