<section>
  <header>
    <h3>10 Minute Paintings</h3>
    <!-- <p>Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aenean ornare velit lacus, ac varius sed enim lorem ullamcorper dolore.  ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis.</p> -->
  </header>

  <div class="content">
    <div id="gallery-container3" class="gallery">
      <a href="{{root}}assets/images/quickies/20210620_010715-01.jpeg"><img alt="" src="{{root}}assets/images/quickies/20210620_010715-01.jpeg" /></a>
      <a href="{{root}}assets/images/quickies/20210628_231946-01.jpeg"><img alt="" src="{{root}}assets/images/quickies/20210628_231946-01.jpeg" /></a>
      <a href="{{root}}assets/images/quickies/20210626_221112-01.jpeg"><img alt="" src="{{root}}assets/images/quickies/20210626_221112-01.jpeg" /></a>
      <a href="{{root}}assets/images/quickies/20210616_103641-01.jpeg"><img alt="" src="{{root}}assets/images/quickies/20210616_103641-01.jpeg" /></a>
    </div>
    <div>
      <ul class="actions" style="margin-top: 1.5rem; float: right;">
        <li><a href="/quickies.html" class="button primary small">View All <span class="icon fa-arrow-right"></span></a></li>
      </ul>
    </div>
  </div>

</section>